.flow-bottom-enter,
.flow-bottom-appear {
    opacity: 0;
    transform: translateY(100px);
}

.flow-bottom-enter-active,
.flow-bottom-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms;
}

.flow-bottom-exit {
    opacity: 1;
    transform: translateY(0);
}

.flow-bottom-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: 800ms;
}

// flow-top

.flow-top-enter,
.flow-top-appear {
    opacity: 0;
    transform: translateY(-100px);
}

.flow-top-enter-active,
.flow-top-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms;
}

.flow-top-exit {
    opacity: 1;
    transform: translateY(0);
}

.flow-top-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: 800ms;
}

// opacity

.opacity-enter,
.opacity-appear {
    opacity: 0;
}

.opacity-enter-active,
.opacity-appear-active {
    opacity: 1;
    transition: 800ms;
}

.opacity-exit {
    opacity: 1;
}

.opacity-exit-active {
    opacity: 0.2;
    transition: 800ms;
}

.opacity-exit-done {
    display: none;
    visibility: hidden;
    opacity: 0;
}

// left-move

.left-move-enter,
.left-move-appear {
    transform: translateX(400px);
}

.left-move-enter-active,
.left-move-appear-active {
    transform: translateX(0);
    transition: 800ms ease-out;
}

.left-move-exit {
    transform: translateX(0);
}

.left-move-exit-active {
    transform: translateX(400px);
    transition: 800ms ease-out;
}

.left-move-exit-done {
    visibility: hidden;
    opacity: 0;
}

// pop

.pop-enter,
.pop-appear {
    transform: scale(0.6);
    opacity: 0;
}

.pop-enter-active,
.pop-appear-active {
    transform: scale(1);
    opacity: 1;
    transition: 200ms ease-out;
}

.pop-exit {
    transform: scale(1);
    opacity: 1;
}

.pop-exit-done {
    transform: scale(0.6);
    opacity: 0;
    transition: 200ms ease-out;
}

.pop-exit-active {
    opacity: 0;
    transition: 200ms ease-out;
}