.form {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    width: 300px;
    align-self: center;
    margin: 20px 0;
    border-radius: 10px;
    align-items: stretch;
    overflow: hidden;

    // .text-fields {
    //     margin: 2px 20px;
    // }

    .MuiInputBase-root {
        margin: 10px 20px;
    }

    .MuiInputLabel-root {
        margin: 0 20px;
    }

    #inputs {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1em;
    }

    #error-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 20px;
        margin-top: 10px;

        p {
            color: #df3030;
            margin-left: 5px;
        }
    }

    #circular {
        align-self: center;
    }

    p {
        color: rgba(0, 0, 0, 0.3);
        margin: 4px 0;
    }

    button {
        border-radius: 10px;
    }
}